.timeline{
    min-height: 90vh;
    background-color: #060718;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10vw;
}

.timeline h1{
    text-align: center;
}

.timelineHeadline{
    font-size: 3rem;
    margin: 15vh 0;
}

@media (max-width: 768px) {
    .timelineHeadline{
        font-size: 2rem;
    }
}

.timeWrap{
    margin-bottom: 20vh;
    padding: 0 10vw;
}

.time{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
}

.time>div{
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

.time>div>p{
    /* flex: 2; */
    border: 20px solid cyan;
    border-radius: 100%;
    font-size: 1.5rem;
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time>div>.right{
    /* border: 2px solid red; */
    flex:3;
    /* padding: 0 10vw; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 2rem;
    /* width: 20vw; */
}

.time>div>.right>p{
    margin: 0 2vw;
    font-size: 2rem;
}

.time>div>.right>div{
    width: 50vw;
}

@media (max-width: 768px) {
   .time{
    display: none;
   }
}

.timeSmall{
    display: none;
}

@media (max-width: 768px) {
    .timeSmall{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .timeSmall>div>h4{
        font-size: 2rem;
        color: cyan;
        padding: 1vh 0;
    }

    .timeSmall>div>h5{
        font-size: 1.5rem;
        padding: 1vh 0;
    }
    .timeSmall>div>p{
        padding: 1vh 0;
    }
}