@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.prize{
    background:#060718;
    color:white;
    padding:2% 0;
    min-height: 80vh;
    padding: 10vh 0;
}

.prizeHeading{
    font-size: 3rem;
    text-align: center;
    /* color: cyan; */
    font-size: 3rem;
    padding-top: 10vh;
    /* padding-bottom: 0; */
}

@media (max-width: 768px) {
    .prizeHeading {
        font-size: 2rem;
    }
}

.prizecontainer{
    background:#060718;
    width:70%;
    /* padding:1%; */
    margin:auto;
    margin-top:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prizebox{
    /* background: #8d8d8d; */
    color:rgb(255, 255, 255);
    margin:2rem 3rem;
    height:250px;
    width:250px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 20px rgba(195, 189, 189, 0.5); */
    cursor: pointer;
}

@media (max-width: 768px) {
    .prizebox {
        margin:2rem 0;
    }
}

.img{
    margin: 5rem 0;
    max-width: 70%;
    max-height: 50%;
}

.prizebox:hover img{
    transform: scale(1.1);
}

img{
    width:105%;
    transition: all 0.4s ease-in-out;
}

.position, .price{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Roboto Mono", sans-serif;
}

.price{
    color: cyan;
}

.position{
    text-align: center;
}

@media (max-width: 768px) {
    
    .position, .price {
        font-size: 1.2rem;
    }
}

