.faculty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #060718;
    color: white;
    min-height: 50vh;
    padding-bottom: 20vh;
}

.heading2{
    font-size: 3rem;
    margin: 10vh 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .heading2 {
        font-size: 1.3rem;
    }
}

.facultycontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5vw;
}

.img>img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 100%;
}

.facultyBox{
    /* border: 2px solid red; */
    height: 40vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: cyan; */
    color: black;
    border-radius: 1rem;
    color: white;
}

@media (max-width: 768px) {
    .facultyBox {
        width: 80vw;
        height: 50vh;
        margin: 2rem 0;
    }
}

.name{
    font-size: 1.3rem;
    margin: 1rem 0;
    /* font-weight: bold; */
    font-family: "Poppins", 'comic-sans';
    color: cyan;
}

.posiiton{
    font-size: 1rem;
    margin: 1rem 0;
    text-align: center;
}