.aboutsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3%;
}

.aboutheading{
    font-size: 3rem;
    font-weight: 500;
}

.aboutcontent{
    font-size: 1.2rem;
    text-align: justify;
    margin: 2% 4%;
}

.image img{
    height: 150px;
    width:150px;
    border-radius: 10px;
}

.image{
    margin:2%;
}

.aboutimages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
}

@media only screen and (max-width:800px){
    .aboutheading{
        font-size: 2.4rem;
    }
}

@media only screen and (max-width:520px){
    .aboutheading{
        font-size: 2.2rem;
    }

    .image img{
        height: 130px;
        width:120px;
        border-radius: 10px;
    }
}