.main {
    background-color: #060718;
    display: flex;
    padding: 0 20%;
    min-height: 90vh;
    flex-direction: column;
    color: white;

    /* border: 2px solid red; */
}

.aboutHeading {
    background: #060718;
    font-size: 4rem;
    margin: 10vh 0;
    padding-left: 2vw;
    /* padding: 5vh 0; */
}

@media (max-width: 768px) {
    .aboutHeading {
        font-size: 2rem;
    }
}

.content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    /* border: 2px solid red; */
    /* height: 20vh; */
    flex: 1;
    margin: 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin: 0 1rem;
    /* padding: 2vh 0; */
    /* position: relative; */
}

.sidebar p {
    color: grey;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

}

.about {
    flex: 4;
}

.about>p{
    font-size: 1.2rem;
    width: 37vw;
    text-align: justify;
}

.about>p:first-child {
    margin-bottom: 5vh;
}

@media (max-width: 768px) {
    .about>p {
        font-size: 1rem;
        width: 80vw;
    }
}



.register {
    color: cyan;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15vh 0;
    font-size: 2rem;
    transition: transform 0.5s ease; 
}

.register:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .register {
        font-size: 1.5rem;
    }
}